<html>
<head>
    <title>Search</title>
</head>
<body>
    <form action="/signup/" method="post">
        first name :
        <input type="text" name="name">
        </br></br>
        last name :
        <input type="text" name="family">
        </br></br>
        email :
        <input type="email" name="email">
        </br></br>
        username :
        <input type="text" name="userName">
        </br></br>
        pass :
        <input type="password" name="pass"></br></br></br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>